<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CellType</key>
		<string>FirmSelectionCell</string>
		<key>DataKey</key>
		<string>firm</string>
		<key>Label</key>
		<string>Customer</string>
		<key>Mandatory</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>ItemCategorySuggestionCell</string>
		<key>DataKey</key>
		<string>itemCategory</string>
		<key>Label</key>
		<string>Item Category</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>DatePickerCell</string>
		<key>DataKey</key>
		<string>dateTime</string>
		<key>Label</key>
		<string>Date</string>
		<key>Mandatory</key>
		<string>Y</string>
		<key>DateMode</key>
		<string>dateTime</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>CountdownPickerCell</string>
		<key>DataKey</key>
		<string>timeLeftToRemind</string>
		<key>Label</key>
		<string>Remind</string>
		<key>Mandatory</key>
		<string>Y</string>
		<key>DateMode</key>
		<string>dateTime</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>SwitchCell</string>
		<key>DataKey</key>
		<string>repeat</string>
		<key>Label</key>
		<string>Repeat</string>
		<key>LeftValue</key>
		<string>NO</string>
		<key>Mandatory</key>
		<string>Y</string>
		<key>RightValue</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>LabeledStringSelectionCell</string>
		<key>DataKey</key>
		<string>calendarRepeatUnit</string>
		<key>DataSource</key>
		<array>
			<dict>
				<key>label</key>
				<string>Day</string>
				<key>val</key>
				<string>day</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Week</string>
				<key>val</key>
				<string>week</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Month</string>
				<key>val</key>
				<string>month</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Year</string>
				<key>val</key>
				<string>year</string>
			</dict>
		</array>
		<key>DisablingCellDataKey</key>
		<string>repeat</string>
		<key>DisablingValue</key>
		<string>NO</string>
		<key>Label</key>
		<string>Every</string>
		<key>Mandatory</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>NotesCell</string>
		<key>DataKey</key>
		<string>notes</string>
		<key>Label</key>
		<string>Notes</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>PhotoPickerCell</string>
		<key>DataKey</key>
		<string>photos</string>
		<key>Label</key>
		<string>Photos</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
    <dict>
		<key>CellType</key>
		<string>DocumentPickerCell</string>
		<key>DataKey</key>
		<string>documents</string>
		<key>Label</key>
		<string>Documents</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
</array>
</plist>
