<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CellType</key>
		<string>TextCell</string>
		<key>DataKey</key>
		<string>firmName</string>
		<key>Label</key>
		<string>Name</string>
		<key>Mandatory</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>TextCell</string>
		<key>DataKey</key>
		<string>street</string>
		<key>Label</key>
		<string>Street</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>TextCell</string>
		<key>DataKey</key>
		<string>town</string>
		<key>Label</key>
		<string>Town</string>
		<key>Mandatory</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>TextCell</string>
		<key>DataKey</key>
		<string>zip</string>
		<key>Label</key>
		<string>ZIP Code</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>TextCell</string>
		<key>DataKey</key>
		<string>state</string>
		<key>Label</key>
		<string>State</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>CountrySelectionCell</string>
		<key>DataKey</key>
		<string>country</string>
		<key>Label</key>
		<string>Country</string>
		<key>Mandatory</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>BusinessCategorySuggestionCell</string>
		<key>DataKey</key>
		<string>econSector</string>
		<key>Label</key>
		<string>Business</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>TextCell</string>
		<key>DataKey</key>
		<string>refFirstName</string>
		<key>Label</key>
		<string>Ref. Name</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>TextCell</string>
		<key>DataKey</key>
		<string>refSecondName</string>
		<key>Label</key>
		<string>Ref. Surname</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>TextCell</string>
		<key>DataKey</key>
		<string>refRole</string>
		<key>Label</key>
		<string>Ref. Role</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>PhoneNrCell</string>
		<key>DataKey</key>
		<string>phoneNr1</string>
		<key>Label</key>
		<string>Phone Nr. 1</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>PhoneNrCell</string>
		<key>DataKey</key>
		<string>phoneNr2</string>
		<key>Label</key>
		<string>Phone Nr. 2</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>PhoneNrCell</string>
		<key>DataKey</key>
		<string>faxNr</string>
		<key>Label</key>
		<string>Fax Nr.</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>EMailCell</string>
		<key>DataKey</key>
		<string>eMail</string>
		<key>Label</key>
		<string>E-mail</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>NotesCell</string>
		<key>DataKey</key>
		<string>notes</string>
		<key>Label</key>
		<string>Notes</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>DisclosureCell</string>
		<key>DataKey</key>
		<string>events</string>
		<key>Label</key>
		<string>Events</string>
		<key>Mandatory</key>
		<string>N</string>
		<key>NotificationName</key>
		<string>showEventsForFirm</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>DisclosureCell</string>
		<key>DataKey</key>
		<string>unpaidInvs</string>
		<key>Label</key>
		<string>Unpaid Invoices</string>
		<key>Mandatory</key>
		<string>N</string>
		<key>NotificationName</key>
		<string>showUnpaidsForFirm</string>
	</dict>
    <dict>
		<key>CellType</key>
		<string>DisclosureCell</string>
		<key>DataKey</key>
		<string>appointments</string>
		<key>Label</key>
		<string>Appointments</string>
		<key>Mandatory</key>
		<string>N</string>
		<key>NotificationName</key>
		<string>showAppointmentsForFirm</string>
	</dict>
	<dict>
		<key>CellType</key>
		<string>PhotoPickerCell</string>
		<key>DataKey</key>
		<string>photos</string>
		<key>Label</key>
		<string>Photos</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
    <dict>
		<key>CellType</key>
		<string>DocumentPickerCell</string>
		<key>DataKey</key>
		<string>documents</string>
		<key>Label</key>
		<string>Documents</string>
		<key>Mandatory</key>
		<string>N</string>
	</dict>
</array>
</plist>
